@{
	ViewData["Title"] = "Home Page";

	var EmpList = (List<Employees>)ViewBag.Employees;
}

<div class="text-center">
	<h1 class="display-4">Home</h1>
	<p>Tutorial link in case I need it later: <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-8.0&tabs=visual-studio">https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-8.0&tabs=visual-studio</a>.</p>

	@* <p>count: @EmpList.Count</p> *@
</div>
